main{
    display: block;
    height: 100%;
    background-color: #f7f7f7;
    width: calc(100% - 320px);
}
main .main-content{
    padding: 0  32px ;
    width: 100%;
    height:calc(100% - 90px);
    overflow-y: auto;
}
.main-content .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: #ccc solid 1px;
    margin: 10px 0;
}
.panel-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.panel-row button{
    height: 180px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    font-size: 22px;
    color: #fff;
}
.panel-row button:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
}
.panel-row button svg{
    margin-bottom: 12px;
    font-size: 30px;

}
.panel-50{
    width: 48%;
}
div#ajax-content{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
}
div#ajax-content button{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
}
div#ajax-content button:hover{
    transform: scale(1.06);
    transition-duration: 0.2s;
}
div#ajax-content label{
    font-size: 14px;
    color: #363636;
}
div#ajax-content table svg{
    cursor: pointer;
}
.dynamic-content{
    padding: 20px;
}
.main-content-title{
    padding: 4px 0;
}
.main-content-title h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    color: #363636;
}
div.imc-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}
div.imc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px 12px;
    background-color: white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2 ) ;
}
div.imc h2{
    font-weight: 300;
    color: #363636;
    font-size:24px;
}

div.imc span:nth-child(2){
    color: #a777e3;
    font-weight: 600;
 }
 /* dashboard */
 div.dashboard-content{
     padding: 12px 0;
 }
.dashboard-flex-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    flex-wrap: wrap;
    justify-content: space-around;
}
.dashboard-box{
    width: 100%;
    max-width: 220px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;padding: 8px;
    background-color: white;
    padding: 8px ;
}
.dashboard-box:hover{
    transition-duration: 0.5s;
    box-shadow: 0 0 1rem rgba(156,156,156,0.4);
    transform: scale(1.05);
}
div.box-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin-top: 12px;
    border-radius: 100%;

}
/* Cores icons */
.box-weith{
    background-color: rgba(110, 142, 251, 0.1 );
    color: #6283f5;
}
.box-pressure{
    background-color: rgba(229, 115, 115, 0.1 );
    color: #ef5350;
}
.box-imc{
    background-color: rgba(220, 231, 117, 0.4 );
    color: #afb42b;
}
.box-workout{
    background-color: rgba(255, 138, 101, 0.1 );
    color: #ff5722;
}
/*  */
div.box-icon svg{
    font-size: 20px;
}

div.value{
    text-transform: uppercase;
    margin-top:4px ;
    font-weight: 500;
    font-size: 20px;
}
div.type{
    text-transform: uppercase;
    margin-top:4px ;
    font-size: 14px;
    font-weight: 100;
}
div.box-value-porcentual{
   display: flex; 
   flex-direction: row;
   align-items: center;
   text-transform: uppercase;
}
div.box-value-porcentual svg{
    margin-right:8px ;
    margin-top:  4px;
}