.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
}

div.sidebar {
    display: block;
    height: 100%;
    background-color: #fff;
}

.sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, .0625);
    border-right: 0px;
}

.sidebar .sidebar-title img {
    width: 62px;
    height: 90px;
}

.sidebar .sidebar-title h2 {
    font-size: 18px;
    margin-top: 4px;
}

.menu {
    border-right: 1px solid rgba(0, 0, 0, .0625);
}

div.menu ul {
    list-style-type: none;
}

div.menu ul li {
    border: 1px solid rgba(0, 0, 0, .0900);
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.menu ul li svg {
    color: #6e8efb;
    font-size: 25px;
}

div.menu ul li a {
    color: #72777a;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

div.menu ul li a:hover {
    color: #363636;
}

.selected {
    background-color: #f5f5f5;
}

.selected a {
    color: black !important;
}

.sidebar_logout{
    display: none;
}
.hide{
    position: absolute;
    left: -320px;
}
/* reponsividade */
@media screen and (max-width:672px) {
    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        transition: all 0.2s;
    }

    .sidebar_logout {
        display: block;
    }
}
@media screen and (max-width:362px) {
    .sidebar {
        position: absolute;
        top: 0;
        z-index: 2;
        transition: all 0.2s;
        width: 310px;
        left: -300px;
    }

    .sidebar_logout {
        display: block;
    }
}

/* ----------- */