<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    </head>
    <body>
        <div class="flex-dashboard">
            <div class="sidebar">
               <div class="sidebar-title">
                   <img src="../img/banner.png" alt="">
                   <h2>Health Track</h2>
               </div>
               <div class="menu">
                   <ul>
                        <li class="selected"> 
                            <i class="fas fa-home"></i>
                            <a href="dashbord.html">Home</a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="perfil.html"> Perfil</a>
                        </li>
                        <li>
                           <i class="fas fa-balance-scale"></i>
                           <a href="gerenciarpeso.html"> Gerenciar peso e altura</a>
                        </li>
                        <li>
                            <i class="fas fa-heartbeat"></i>
                            <a href=""> Gerenciar pressão arterial</a>
                        </li>
                        <li>
                            <i class="fas fa-skating"></i>
                            <a href=""> Gerenciar avidades fisicas</a>
                        </li>
                        <li>
                            <i class="fas fa-utensils"></i>
                            <a href=""> Gerenciar alimentos</a>
                        </li>
                        <li>
                            <i class="fas fa-calculator"></i>
                            <a href="calcularIMC.html"> Calcular IMC</a>
                        </li>
                       

                   </ul>
               </div>
            </div>
            <main>
                <header>
                   <a href="dashbord.html">
                       <i class="fas fa-home"></i> HOME
                   </a>
                    <a href="../index.html">
                        <i class="fas fa-sign-out-alt"></i> SAIR
                   </a>
                </header>
                <div class="main-content">
                    
                </div>
            </main>
        </div>
        
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
    </body>
</html>