<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    </head>
    <body>
        <div class="flex-dashboard">
            <div class="sidebar">
               <div class="sidebar-title">
                   <img src="../img/banner.png" alt="">
                   <h2>Health Track</h2>
               </div>
               <div class="menu">
                   <ul>
                        <li class="selected"> 
                            <i class="fas fa-home"></i>
                            <a href="dashbord.html">Home</a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="perfil.html"> Perfil</a>
                        </li>
                        <li>
                           <i class="fas fa-balance-scale"></i>
                           <a href="gerenciarpeso.html"> Gerenciar peso e altura</a>
                        </li>
                        <li>
                            <i class="fas fa-heartbeat"></i>
                            <a href=""> Gerenciar pressão arterial</a>
                        </li>
                        <li>
                            <i class="fas fa-skating"></i>
                            <a href=""> Gerenciar avidades fisicas</a>
                        </li>
                        <li>
                            <i class="fas fa-utensils"></i>
                            <a href=""> Gerenciar alimentos</a>
                        </li>
                        <li>
                            <i class="fas fa-calculator"></i>
                            <a href="calcularIMC.html"> Calcular IMC</a>
                        </li>
                       

                   </ul>
               </div>
            </div>
            <main>
                <header>
                   <a href="dashbord.html">
                       <i class="fas fa-home"></i> HOME
                   </a>
                    <a href="../index.html">
                        <i class="fas fa-sign-out-alt"></i> SAIR
                   </a>
                </header>
                <div class="main-content">
                    <div class="main-content-title">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="dashboard-content">
                        <div class="dashboard-flex-parent">
                            <div class="dashboard-box">
                                <div class="box-icon box-weith">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="value">
                                    80kg
                                </div>
                                <div class="type">
                                    peso
                                </div>
                            </div>

                            <div class="dashboard-box">
                                <div class="box-icon box-pressure">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="value">
                                    23mhmc
                                </div>
                                <div class="type">
                                    Pressão Arterial
                                </div>
                            </div>

                            <div class="dashboard-box">
                                <div class="box-icon box-imc">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="value">
                                    23,2
                                </div>
                                <div class="type">
                                    imc
                                </div>
                            </div>

                            <div class="dashboard-box">
                                <div class="box-icon box-workout">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="value">
                                    biicleta
                                </div>
                                <div class="type">
                                    atividade física
                                </div>  
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>
        </div>
        
        <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/fontawesome/js/all.min.js"></script>
    </body>
</html>